<section id="menu">
  <div class="title-center">
    <h2>მენიუ</h2>
  </div>

  <div class="wrapper flex-row tabs-wrap">
    <ul class="list-menu" role="tablist" aria-label="მენიუს კატეგორიები">
      <li *ngFor="let tab of tabs; trackBy: trackByTab" role="presentation">
        <button
          type="button"
          role="tab"
          [attr.aria-selected]="activeTab === tab"
          [class.active]="activeTab === tab"
          (click)="setActiveTab(tab)"
        >
          {{ tab }}
        </button>
      </li>
    </ul>
  </div>

  <div class="wrapper">
    <div class="menu-grid">
      <article
        class="single-menu-item"
        *ngFor="let item of filteredItems; trackBy: trackById"
      >
        <a
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#' + 'item-' + item.id"
          [attr.aria-label]="'გაადიდე ' + item.name"
        >
          <img
            [src]="item.imageUrl"
            [alt]="item.name"
            loading="lazy"
            width="400"
            height="300"
          />
        </a>
        <div class="single-menu-item-content">
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
          <p class="price">{{ item.price }}</p>
        </div>
      </article>
    </div>
  </div>

  <div
    class="modal fade"
    *ngFor="let item of filteredItems; trackBy: trackById"
    [id]="'item-' + item.id"
    tabindex="-1"
    [attr.aria-labelledby]="'item-' + item.id + '-label'"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header border-0">
          <h5
            class="modal-title text-white"
            [id]="'item-' + item.id + '-label'"
          >
            {{ item.name }}
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="დახურვა"
          ></button>
        </div>
        <div class="modal-body">
          <img
            [src]="item.imageUrl"
            [alt]="item.name"
            class="img-fluid rounded"
          />
          <p class="text-white mt-3">{{ item.description }}</p>
          <p class="price mt-2">{{ item.price }}</p>
        </div>
      </div>
    </div>
  </div>
</section>